<template>
  <div>
    <h1>About this application.</h1>
    <p>This app is created using Vue.</p>
    <p>
      User can navigate to home page clicking on the email text present on the header.
      On the home page, there are two responsive sections exists.
    </p>
    <p>
      Since the sections are responsive, right side section is not visible in the smaller
      screen by default. When the user clicks on an email from the left side list,
      the second section appears as a popup with a close button.
    </p>

    <p>Left side section contains a list of emails with minimum details. When the user clicks on any email, right side section will be populated with complete details.</p>
  </div>
</template>
