<template>
  <div class="row">
    <List :emails="emails" @set-selected="setSelectedEmail"/>
    <Detail :selected-email="selectedEmail" @clear-selected="selectedEmail={}"/>
  </div>
</template>

<script>
// @ is an alias to /src

import emails from "@/components/json/emails.json";
import List from "@/components/List.vue";
import Detail from "@/components/Detail.vue";

export default {
  name: "home",
  components: {
    List,
    Detail
  },
  data() {
    return {
      emails,
      selectedEmail: {}
    };
  },
  methods: {
    setSelectedEmail(email) {
      this.selectedEmail = email;
    }
  }
};
</script>
<style scoped>



/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}


</style>
