<template>
  <div class="container">
    <!-- Header -->
    <div class="header">
      <span>
        <router-link to="/">Email</router-link>
      </span>
      <span class="about">
        <router-link to="/about">About</router-link>
      </span>
    </div>

    <!-- The flexible grid (content) -->
    <!-- <div class="row">
      <List :emails="emails" @set-selected="setSelectedEmail"/>
      <Detail :selected-email="selectedEmail" @clear-selected="selectedEmail={}"/>
    </div>-->
    <router-view/>
  </div>
</template>

<script>
// import emails from "./json/emails.json";
// import List from "./List.vue";
// import Detail from "./Detail.vue";
export default {
  name: "Container"
  // components: {
  //   List,
  //   Detail
  // },
  // data() {
  //   return {
  //     emails,
  //     selectedEmail: {}
  //   };
  // },
  // methods: {
  //   setSelectedEmail(email) {
  //     this.selectedEmail = email;
  //   }
  // }
};
</script>

<style>
/* Header/logo Title */
.header {
  /* text-align: center; */
  background: #1abc9c;
  color: white;
  padding: 1%;
  font-size: 1.5em;
}
.header a,
.about a {
  text-decoration: none;
  color: aliceblue;
}
.about {
  float: right;
  font-size: 0.5em;
}
.container {
  background: white;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) {
  .container {
    width: 90%;
    -webkit-box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.75);
  }
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 95%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 320px to 767px
*/

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
</style>



