<template>
  <div class="main" :class="{'popup':selectedEmail.id}">
    <div class="selected-email" v-if="selectedEmail.id">
      <span class="close" @click="clearSelectedEmail">&times;</span>
      <table>
        <tr>
          <td>
            <span class="icon">{{selectedEmail.first_name[0]+selectedEmail.last_name[0]}}</span>
          </td>
          <td>
            <span class="name">{{selectedEmail.first_name+" "+selectedEmail.last_name}}</span>
            &lt;{{selectedEmail.email}}&gt;
            <br>
            <span class="date">{{selectedEmail.date}}</span>
            <br>
            <span class="subject">
              <b>Subject:</b>
              {{selectedEmail.subject}}
            </span>
          </td>
        </tr>
      </table>

      <div class="border-bottom"></div>

      <p>{{selectedEmail.body}}</p>
    </div>
    <div v-else>
      <p>{{selectEmailMsg}}</p>
    </div>
  </div>
</template>
<script>
export default {
  name: "Detail",
  props: {
    selectedEmail: Object
  },
  data() {
    return {
      selectEmailMsg: "Click on an email to select"
    };
  },
  methods: {
    clearSelectedEmail() {
      this.$emit("clear-selected");
    }
  }
};
</script>
<style scoped>
/* Main column */
.main {
  flex: 60%;
  background-color: #ffffff;
  padding: 20px;
}
.close {
  color: #960000;
  display: block;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid #cccccc;
}

.icon {
  border-radius: 100%;
  padding: 15px;
  background: #dddddd;
}
.date {
  font-size: 0.6rem;
}
.subject {
  font-size: 0.9rem;
}

.name {
  color: #838383;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    flex: 50%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 320px to 767px
*/

@media (min-width: 320px) and (max-width: 767px) {
  .main {
    display: none;
  }
  .main.popup {
    display: block;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid #960000;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
}

/*  Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
</style>


