<template>
  <div class="side">
    <table class="email-list" v-if="emails.length">
      <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
      <tr v-for="email in emails" v-bind:key="email.id" @click="sendSelected(email)">
        <td v-bind:title="email.first_name">{{email.first_name|truncate }}</td>
        <td v-bind:title="email.subject">{{email.subject|truncate }}</td>
        <td v-bind:title="email.date">{{email.date|truncate }}</td>
      </tr>
    </table>
    <div v-else>{{noEmailsMsg}}</div>
  </div>
</template>
<script>
export default {
  name: "List",
  props: {
    emails: Array
  },
  data() {
    return {
      noEmailsMsg: "No emails"
    };
  },
  filters: {
    truncate(value) {
      if (value && value.length > 20) {
        value = value.substring(0, 17) + "...";
      }
      return value;
    }
  },
  methods: {
    sendSelected(email) {
      this.$emit("set-selected", email);
    }
  }
};
</script>
<style scoped>
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 40%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* email list template */

table.email-list {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .side {
    flex: 50%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 320px to 767px
*/

@media (min-width: 320px) and (max-width: 767px) {
  .side {
    flex: 100%;
  }
}
</style>

